@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.text-title {
  text-align: center;
  padding: 15px;
}

.card {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  border: solid 1px #009b6e;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  width: 100%;
  padding: 20px;
}

.card-title {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

[type="date"],
[type="text"] {
  width: 100%;
  height: 35px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1.5rem;
  outline: none;
  font-size: 17px;
  background-color: #fff;
  border-color: #f0c882;
}

[type="checkbox"] {
  padding: 5px;
  margin-bottom: 0px;
  height: 15px;
  width: 15px;
  position: absolute;
  left: -100vw;
}

textarea {
  width: 100%;
  border-radius: 1.5rem;
  padding: 5px;
  font-size: 17px;
  background-color: #fff;
  border-color: #f0c882;
  outline: none;
}

.group-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

label {
  width: 100%;
  display: inline-block;
  background-color: #009b6e;
  border-radius: 1.5rem;
  padding: 8px 8px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  border: none;
  color: #fff;
}

@media (min-width: 768px) and (min-width: 992px) {
  .card {
    width: 50%;
  }

  label {
    width: 200px;
    height: 50px;
  }
}
